<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> 
    <title>명찰 제작을 쉽게</title>
</head>
<body>
    <div id='header'>
        <h1>명찰 제작을 쉽게</h1>
        <p>* 이 웹사이트는 사용자의 데이터를 일체 수집하지 않습니다.</p>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
    {% block content %}{% endblock %}

    <footer>
        <hr>
        <p>creater : park yeon su <br>
            contact : parkite576@gmail.com</p>
    </footer>
</body>
<script>
    function checkFormValidity() {
        const form = document.getElementById('file_form');
        
        const submitButton = document.getElementById('submit_button');
        
        if (form.checkValidity()) {
            submitButton.disabled = false;  
        } else {
            submitButton.disabled = true; 
        }
    }
</script>
</html>
